In [93]:
import pandas as pd
import re
import geonamescache

In [119]:
gc = geonamescache.GeonamesCache()

In [129]:
countries = {data['name']:country_code for country_code, data in gc.get_countries().items()}

In [130]:
cities = gc.get_cities()
cities = {cities[city_index]['name']: (cities[city_index]["latitude"],cities[city_index]["longitude"]) for city_index in cities.keys()}

In [126]:
city_regexp = r"(\b" + r"\b|\b".join(cities.keys()) + r"\b)"
country_regexp = "(" + "|".join(countries.keys()) + ")"

city_regexp = re.compile(city_regexp, flags=re.IGNORECASE)
country_regexp = re.compile(country_regexp, flags=re.IGNORECASE)

In [144]:
df = pd.DataFrame([], columns = ['Headline' , 'City', 'Latitude', 'Longitude', 'Country Code']) 

for headline in headlines:
    city = re.search(city_regexp, headline)
    country = re.search(country_regexp, headline)
    
    if city:
        city = city.group()

    if country:
        country = country.group()
    
    latidude, longitude = cities.get(city, (None, None))
    country_code = countries.get(country,None)
    
    df = df.append({'Headline':headline[:-1] , 'Country Code':country_code, 'City':city , 'Latitude':latidude, 'Longitude':longitude}, ignore_index=True)

In [145]:
df.head(25)

,Headline,City,Latitude,Longitude,Country Code
0,Zika Outbreak Hits Miami,Miami,25.77427,-80.19366,None
1,Could Zika Reach New York City?,New York City,40.71427,-74.00597,None
2,First Case of Zika in Miami Beach,of,NaN,NaN,None
3,"Mystery Virus Spreads in Recife, Brazil",Recife,-8.05389,-34.88111,BR
4,Dallas man comes down with case of Zika,Dallas,44.91928,-123.31705,None
5,Trinidad confirms first Zika case,Trinidad,-33.51650,-56.89957,None
6,Zika Concerns are Spreading in Houston,Houston,29.76328,-95.36327,None
7,Geneve Scientists Battle to Find Cure,None,NaN,NaN,None
8,The CDC in Atlanta is Growing Worried,Atlanta,33.74900,-84.38798,None
9,Zika Infested Monkeys in Sao Paulo,None,NaN,NaN,None
10,Brownsville teen contracts Zika virus,Brownsville,40.66094,-73.92014,None
11,Mosquito control efforts in St. Louis take new...,St. Louis,38.62727,-90.19789,None
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,26.18924,-98.15529,None
13,"Flu outbreak in Galveston, Texas",Galveston,29.30135,-94.79770,None
14,Zika alert â€“ Manila now threatened,Manila,14.60420,120.98220,None
15,Zika afflicts 7 in Iloilo City,Iloilo,10.69694,122.56444,None
16,New Los Angeles Hairstyle goes Viral,Los Angeles,34.05223,-118.24368,None
17,Louisiana Zika cases up to 26,None,NaN,NaN,None
18,Orlando volunteers aid Zika research,Orlando,28.53834,-81.37924,None
19,Zika infects pregnant woman in Cebu,None,NaN,NaN,None
20,Chicago's First Zika Case Confirmed,Chicago,41.85003,-87.65005,None
21,Tampa Bay Area Zika Case Count Climbs,Tampa,27.94752,-82.45843,None
22,"Bad Water Leads to Sickness in Flint, Michigan",Flint,43.01253,-83.68746,None
23,Baltimore plans for Zika virus,Baltimore,39.29038,-76.61219,None
24,London Health Unit Tracks Mad Cow Disease,London,51.50853,-0.12574,None